
/* Estilos para el contenedor principal */
div {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* Estilos para el input de búsqueda */
.form-control {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.user-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-card {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */

  /* Estilos para tarjetas seleccionadas */
  &.selected {
    background-color: #007bff; /* Color de fondo cuando está seleccionada */
    color: #fff; /* Color de texto cuando está seleccionada */
    border: 1px solid #007bff; /* Borde cuando está seleccionada */
  }
}

.user-card h3 {
  font-size: 18px;
  margin: 0;
  padding-bottom: 5px;
}

.user-card p {
  font-size: 14px;
  margin: 0;
}

.selected-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.selected-card {
  width: calc(33.33% - 10px); /* Para mostrar tres tarjetas por fila y espacio entre ellas */
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #007bff; /* Borde de color azul */
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #007bff; /* Color del texto */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */

  &:hover {
    background-color: #007bff; /* Color de fondo al pasar el cursor */
    color: #fff; /* Color de texto al pasar el cursor */
  }
}

.selected-card h3 {
  font-size: 18px;
  margin: 0;
  padding-bottom: 5px;
}

.selected-card p {
  font-size: 14px;
  margin: 0;
}
